<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>400328617499-ik993tdi7vc5rsd19n8vq9pahqtj342r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.400328617499-ik993tdi7vc5rsd19n8vq9pahqtj342r</string>
	<key>API_KEY</key>
	<string>AIzaSyCOspisdE-Z5JdtkRwbEpsJhqciqCpt3-Q</string>
	<key>GCM_SENDER_ID</key>
	<string>400328617499</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.reslate</string>
	<key>PROJECT_ID</key>
	<string>reslate-7d93b</string>
	<key>STORAGE_BUCKET</key>
	<string>reslate-7d93b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:400328617499:ios:26139cddbb583942af12be</string>
</dict>
</plist>